* {
	margin: 0;
	padding: 0;
}

.nav-link {
	color: white;
	text-decoration: none;
	text-decoration: none;
}

nav ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	background-color: rgb(44, 113, 240);
	padding: 1rem;
	position: sticky;
	top: 0;
	z-index: 1000;
}
